

<div>
  <form>
    <div class="form-group">
      <label>Nombre: </label>
      <input type="text" class="form-control"/>
    </div>
        <div class="form-group">
      <label>Correo Electronico: </label>
      <input type="email" class="form-control"/>
    </div>
    <div class="form-group">
      <label>Pagina Web: </label>
      <input type="text" class="form-control"/>
    </div>
    <div class="form-group">
      <label>Comentario: </label>
      <textarea class="form-control"></textarea>
    </div>
    <div>
      <button class="btn btn-primary">Guardar</button>
<a class="btn btn-primary" [routerLink]="['/']"> Regresar</a>
    </div>
  </form>
</div>